body {
    background-image: url(./background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.coming-soon {
    margin: 10px;
    padding: 40px 30px;
    border-radius: 10px;
    background: white;
}

h1, p, div {
    text-align: center;
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
    /* text-shadow: 2px 2px 2px #333; */
}

a {
    color: black;
}